# Dependencies
node_modules/
backend/node_modules/
frontend/node_modules/

# Build files
backend/dist/
frontend/.next/
frontend/out/

# Environment variables
.env
backend/.env
frontend/.env
frontend/.env.local

# Logs
*.log
backend/*.log
frontend/*.log
mongodb.log

# macOS
.DS_Store

# VS Code
.vscode/

# Coverage
coverage/